<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitBusters">
        <activity
            android:name=".activities.access.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.access.OnboardingTourActivity"
            android:exported="false" />
        <activity
            android:name=".activities.asesor.AsesorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.asesor.ProyectoDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.asesor.NuevaSeparacionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.asesor.PagoSeparacionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.asesor.ConfirmacionSeparacionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.asesor.CitasAgendadasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.asesor.ValorarVisitaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.asesor.MensajesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.asesor.ConversacionActivity"
            android:exported="false" />
    </application>

</manifest>