<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitBusters">

        <!-- API Key de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="TU_API_KEY_AQUI" />

        <!-- Login / Launcher -->
        <activity
            android:name=".activities.access.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Access / Auth -->
        <activity android:name=".activities.access.MainActivity" android:exported="false" />
        <activity android:name=".activities.access.OnboardingTourActivity" android:exported="false" />
        <activity android:name=".activities.access.ProjectTypeSelectionActivity" android:exported="false" />
        <activity android:name=".activities.access.ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".activities.access.ForgotPasswordCodeActivity" android:exported="false" />
        <activity android:name=".activities.access.ResetPasswordActivity" android:exported="false" />
        <activity android:name=".activities.access.RegisterAccountActivity" android:exported="false" />
        <activity android:name=".activities.access.RegisterOtpActivity" android:exported="false" />
        <activity android:name=".activities.access.RegisterPasswordActivity" android:exported="false" />

        <!-- Asesor Activities -->
        <activity android:name=".activities.asesor.AsesorHomeActivity" android:exported="false" />
        <activity android:name=".activities.asesor.ProyectoDetalleActivity" android:exported="false" />
        <activity android:name=".activities.asesor.NuevaSeparacionActivity" android:exported="false" />
        <activity android:name=".activities.asesor.PagoSeparacionActivity" android:exported="false" />
        <activity android:name=".activities.asesor.ConfirmacionSeparacionActivity" android:exported="false" />
        <activity android:name=".activities.asesor.CitasAgendadasActivity" android:exported="false" />
        <activity android:name=".activities.asesor.ValorarVisitaActivity" android:exported="false" />
        <activity android:name=".activities.asesor.MensajesActivity" android:exported="false" />
        <activity android:name=".activities.asesor.ConversacionActivity" android:exported="false" />
        <activity android:name=".activities.asesor.AsesorPerfilActivity" android:exported="false" />
        <activity android:name=".activities.asesor.AsesorMapaActivity" android:exported="false" />
        <activity android:name=".activities.asesor.AsesorNotificacionesActivity" android:exported="false" />
        <activity android:name=".activities.asesor.AsesorOfertasActivity" android:exported="false" />
        <activity android:name=".activities.asesor.ReagendarCitaActivity" android:exported="false" />
        <activity android:name=".activities.asesor.VerDetalleCitaActivity" android:exported="false" />

        <!-- Cliente Activities -->
        <activity android:name=".activities.cliente.HomeActivity" android:exported="false" />
        <activity android:name=".activities.cliente.SearchActivity" android:exported="false" />
        <activity android:name=".activities.cliente.ProjectDetailActivity" android:exported="false" />
        <activity android:name=".activities.cliente.AgendaCitaActivity" android:exported="false" />
        <activity android:name=".activities.cliente.MisCitasActivity" android:exported="false" />
        <activity android:name=".activities.cliente.PaymentMethodActivity" android:exported="false" />
        <activity android:name=".activities.cliente.NotificationsActivity" android:exported="false" />
        <activity android:name=".activities.cliente.MessagesActivity" android:exported="false" />
        <activity android:name=".activities.cliente.ChatDetailActivity" android:exported="false" />
        <activity android:name=".activities.cliente.ProfileActivity" android:exported="false" />
        <activity android:name=".activities.cliente.ReviewsActivity" android:exported="false" />
        <activity android:name=".activities.cliente.ViewOnMapActivity" android:exported="false" />
        <activity android:name=".activities.cliente.AddCommentActivity" android:exported="false" />

        <!-- Superadmin Activities -->
        <activity android:name=".activities.superadmin.SuperadminControlCenterActivity" android:exported="false" />
        <activity android:name=".activities.superadmin.SuperadminUsersActivity" android:exported="false" />
        <activity android:name=".activities.superadmin.SuperadminUserDetailActivity" android:exported="false" />
        <activity android:name=".activities.superadmin.SuperadminApprovalsActivity" android:exported="false" />
        <activity android:name=".activities.superadmin.SuperadminApprovalEvaluationActivity" android:exported="false" />
        <activity android:name=".activities.superadmin.SuperadminReportsActivity" android:exported="false" />
        <activity android:name=".activities.superadmin.SuperadminLogsActivity" android:exported="false" />

        <!-- Admin Activities -->
        <activity android:name=".activities.admin.AdminMainActivity" />
        <activity android:name=".activities.admin.AdminProyectosActivity" />
        <activity android:name=".activities.admin.AdminSeparacionesActivity" />
        <activity android:name=".activities.admin.AdminReportesActivity" />
        <activity android:name=".activities.admin.AdminPerfilActivity" />
        <activity android:name=".activities.admin.AdminNotificacionesActivity" />
        <activity android:name=".activities.admin.AdminDetallesInmobiliariaActivity" />
        <activity android:name=".activities.admin.AdminEditarInmobiliariaActivity" />
        <activity android:name=".activities.admin.AdminRegistrarAsesorActivity" />
        <activity android:name=".activities.admin.AdminDetallesProyectoActivity" />
        <activity android:name=".activities.admin.AdminEditarProyectoActivity" />
        <activity android:name=".activities.admin.AdminAgregarTipologiaActivity" />
        <activity android:name=".activities.admin.AdminAsignarAsesoresActivity" />
        <activity android:name=".activities.admin.AdminCrearProyectoActivity" />
        <activity android:name=".activities.admin.AdminDetallesSeparacionActivity" />
        <activity android:name=".activities.admin.AdminDetallesDeReporteProyectoActivity" />

    </application>

</manifest>